extends layout

block content
	div(class='wrapper')
		h2= title
		form(method='POST', action='/api/edit')
			input(type='hidden', name='_method', value='POST')
			
			table(id='accountTable')
					tbody
						tr
							td
								input#username(type='text', name='username')
						tr
							td
								input#bio(type='text', name='bio')
			input(type='submit' value='Submit')
	div(class='wrapper')
		h2= heading2
		table(id='postTable')
			thead
				th Content
				th Date
				th Delete?
			tbody
		h2= heading3
		table(id='eventTable')
				thead
						th Event Name
						th Description
						th Date
						th Delete?
				tbody
	script(type='text/javascript').
		var current_user = !{JSON.stringify(currentuser)};
	script(src='/javascripts/accountedit.js')