span(id="accountdiv",style='float:right;border:1px solid #00B7FF;padding:30px;color:#00B7FF;')
	if loggedIn
		a(href='/account', id='currentuser')
		| | 
		a(href='/api/logout').
			Log out
	else
		a(href='/login').
			Log in
		| | 
		a(href='/signup').
			Sign Up


	script(type='text/javascript').
		var currentuser = !{JSON.stringify(currentuser)};
		$('#currentuser').html(currentuser);