extends layout

block content
	div(class='wrapper')
		h2= title
		table(id='eventTable')
			thead
				th Event Name
				th Description
				th Date
			tbody
	div(class='wrapper')
		h2= heading2
		table(id='postTable')
			thead
				th User
				th Content
				th Date
			tbody
		h2= heading3
		table(id='userTable')
			thead
				th Username
				th Bio
				th Date
			tbody
	script(type='text/javascript').
		var event_name = !{JSON.stringify(eventname)};
	script(src="/javascripts/event.js")
